#container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

#results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.score {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 15px;
    color: red;
}


